body {
  background: black;
  margin: 5px 5px 5px 5px !important;
  border-top-style: double;
  border-top-width: 10px;
  border-left-style: double;
  border-left-width: 10px;
  border-right-style: double;
  border-right-width: 10px;
  border-top-color: #b37b25;
  border-right-color: #b37b25;
  border-left-color: #b37b25;
}

.row {
  margin-top: 10px;
}

#jk-logo {
  height: 175px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
}

#jk-logo-2 {
  height: 80px;
}

#jk-logo-2:hover {
  background: black;
  -webkit-border-radius: 30px 30px 30px 30px;
  border-radius: 30px 30px 30px 30px;
}

#location {
  -webkit-border-radius: 30px 30px 30px 30px;
  border-radius: 30px 30px 30px 30px;
  margin-top: 20px;
}

#satyr {
  height: 200px;
  margin-left: 30px;
}

#satyr-flip {
  height: 200px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#jk-text-header {
  font-family: Palatino;
  color: #b37b25;
  margin-top: 20px;
  padding-left: 0;
}

#jk-text {
  font-family: Palatino;
  color: #f6db5a;
}

.middle-row {
  margin-top: 25px;
}

.side-icons {
  font-size: 22px;
}

.side-nav-items {
  font-size: 14px;
  font-style: normal;
  padding-left: 5px;
}

.emphasis {
  color: #b37b25;
}

.top-bar {
  height: 80px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  background: #381e11;
}

.top-bar-section ul {
  margin: 18px;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #381e11;
  color: #f6db5a;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  font-size: 16px;
  font-family: Palatino;
}

ul.right {
  background: #381e11;
}

li.active {
  padding-right: 20px;
}
